{% block content %}
    <div class="modal fade" id="change-settings-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="{% url 'user_settings' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="code" class="code" value="" />
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-label">Change password</h5>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="content" class="form-control" id="recipient-name" autocomplete="off" placeholder="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-secondary modal-change-button">Change password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
