{% extends "app/base/base_logged_in.html" %}

{% block main %}
    <div id="chart-container" style="width: 100%; height: 90vh;"></div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        $.getJSON('{{ chart_url }}', function(data) {
            const rawData = data.data.raw;
            const smallAvg = data.data.small_avg;
            const largeAvg = data.data.large_avg;

            const myChart = Highcharts.chart('chart-container', {
                chart: {
                    type: 'spline',
                    zoomType: 'x',
                    scrollablePlotArea: {
                        minWidth: 800,
                        scrollPositionX: 1
                    }
                },
                title: {
                    text: ''
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        overflow: 'justify'
                    }
                },
                yAxis: {
                    title: {
                        text: '{{ chart_y_axis_title }}'
                    }
                },
                tooltip: {
                    valueSuffix: '{{ chart_tooltip_suffix }}',
                    shared: true
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    spline: {
                        lineWidth: 2,
                        marker: {
                            enabled: false
                        },
                    }
                },
                series: [{
                    name: rawData.name,
                    data: rawData.data,
                    color: '{{ color_raw_data }}',
                    lineWidth: 2,
                    {% if chart_raw_data_as_column %}
                        type: 'column',
                    {% endif %}
                }, {
                    name: smallAvg.name,
                    data: smallAvg.data,
                    color: '{{ color_small_avg }}'
                }, {
                    name: largeAvg.name,
                    data: largeAvg.data,
                    color: '{{ color_large_avg }}'
                }
            ]
            });
        })
    })
    </script>
{% endblock %}
