{% extends "app/base/base_logged_in.html" %}

{% block main %}
    <div id="chart-container" style="width: 100%; height: 90vh;"></div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        $.getJSON('/json/energy', function(data) {
            const rawData = data['energy']['raw'];
            const smallAvg = data['energy']['small_avg'];
            const largeAvg = data['energy']['large_avg'];

            const myChart = Highcharts.chart('chart-container', {
                chart: {
                    type: 'spline',
                    zoomType: 'x',
                    scrollablePlotArea: {
                        minWidth: 800,
                        scrollPositionX: 1
                    }
                },
                title: {
                    text: ''
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        overflow: 'justify'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Energy generated (kWh per day)'
                    }
                },
                tooltip: {
                    valueSuffix: ' kWh',
                    shared: true
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    spline: {
                        lineWidth: 2,
                        marker: {
                            enabled: false
                        },
                        // enableMouseTracking: false
                    }
                },
                series: [{
                    name: rawData['name'],
                    type: 'column',
                    data: rawData['data'],
                    color: 'lightgrey',
                    lineWidth: 2,
                }, {
                    name: smallAvg['name'],
                    data: smallAvg['data'],
                    color: 'darkgrey'
                }, {
                    name: largeAvg['name'],
                    data: largeAvg['data'],
                    color: 'grey'
                }
            ]
            });
        })
    })
    </script>
{% endblock %}
