{% extends "app/base/base_logged_in.html" %}

{% block CSSblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/stylesheets/public/index.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="row">
                    <h2>Current power: {{ current_power }}W</h2>
                </div>
                <div class="row">
                    <h2>Energy today: {{ energy_day }}kWh</h2>
                </div>
                <div class="row">
                    <h2>Energy this month: {{ energy_month }}kWh</h2>
                </div>
                <div class="row">
                    <h2>Energy this year: {{ energy_year }}kWh</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
