{% extends "app/base/base_logged_in.html" %}

{% block CSSblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/stylesheets/public/settings.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <div class="row">
                    <h3>User settings</h3>
                    <table class="table">
                        <col/>
                        <col/>
                        <col width="100px"/>
                        <tbody>
                            <tr>
                                <th scope="row">First name</th>
                                <td>{{ first_name }}</td>
                                <td><button type="button" class="btn btn-light">Edit</button></td>
                            </tr>
                            <tr>
                                <th scope="row">Last name</th>
                                <td>{{ last_name }}</td>
                                <td><button type="button" class="btn btn-light">Edit</button></td>
                            </tr>
                            <tr>
                                <th scope="row">E-mail address</th>
                                <td>{{ email }}</td>
                                <td><button type="button" class="btn btn-light">Edit</button></td>
                            </tr>
                            <tr>
                                <th scope="row">Password</th>
                                <td>**********</td>
                                <td><button type="button" class="btn btn-light">Edit</button></td>
                            </tr>
                            <tr class="delete-account">
                                <th scope="row">Delete account</th>
                                <td></td>
                                <td><button type="button" class="btn btn-danger">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
