* {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    .navbar-nav {
        li {
            padding-left: 10px;
            padding-right: 10px;
        }
        li:last-child {
            padding-left: 35px;
        }
    }
    .dropdown {
        .log-out-button {
            color: brown;
        }
    }
}
